<%- include ("./partials/header") %>
<section id="home">
  <div class="col col-10 col-md-6 mx-auto mt-3 text-center">
    <h1 class="text-success">Quotes Api 🌛</h1>
    <h5>
      Created by
      <a
        href="https://github.com/nikhiljerry29"
        target="_blank"
        class="text-decoration-none"
      >
        Nikhil Gupta</a
      >
      , © 2021
    </h5>
  </div>

  <!-- Api Showcase Section-->
  <%- include ("./api-showcase") %>
</section>
<%- include ("./partials/footer") %>
