@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f6f2;
}

#error .row {
  height: 65vh;
}

#home .col {
  margin: 35px auto !important;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  color: #3e00ff;
  box-shadow: 0 0 0 0;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: #f3f1f5;
}

.text-color-1 {
  color: #3e00ff;
}