#message,
#hand {
  transform-box: fill-box;
}

#message {
  animation: message 1s infinite linear alternate;
  transform-origin: bottom left;
}

@keyframes message {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(25deg);
  }
}

#hand {
  animation: hand 1s infinite linear alternate;
  transform-origin: right;
}

@keyframes hand {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-29deg);
  }
}
